
<script src="/js/libscripts.bundle.js"></script>
<script src="/js/vendorscripts.bundle.js"></script>
<!-- <script src="/js/morrisscripts.bundle.js"></script> -->
<!-- <script src="/js/jvectormap.bundle.js"></script> -->
<!-- <script src="/js/knob.bundle.js"></script> -->
<script src="/js/mainscripts.bundle.js"></script>
<!-- <script src="/js/pages/index.js"></script> -->
</body>
</html>
