<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="/js/libscripts.bundle.js"></script>
    <script src="/js/vendorscripts.bundle.js"></script>
    <script src="/js/dropzone.js"></script>
    <script src="/js/ckeditor.js"></script>`
    <script src="/js/editors.js"></script>`
    <script src="/js/datatablescripts.bundle.js"></script>
    <script src="/js/mainscripts.bundle.js"></script>
    <script src="/js/jquery-datatable.js"></script>
  </body>
</html>
