<!DOCTYPE html>
<html class="no-js" lang="en">
  <!-- Mirrored from thememakker.com/templates/oreo/hospital/html/light/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 17 Feb 2023 05:48:08 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <meta
      name="description"
      content="Responsive Bootstrap 4 and web Application ui kit."
    />

    <title>Admin Panel</title>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/authentication.css" />
    <link rel="stylesheet" href="/css/color_skins.css" />
  </head>

  <body class="theme-cyan authentication sidebar-collapse">
    <div class="page-header">
      <div class="page-header-image"></div>
      <div class="container">
        <div class="col-md-12 content-center">
          <div class="card-plain">
            <form class="form" method="post">
              <div class="header">
                <div class="logo-container">
                  <img
                    src="https://thememakker.com/templates/oreo/hospital/html//images/logo.svg"
                    alt=""
                  />
                </div>
                <h5>Log in</h5>
              </div>
              <div class="content">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter User Name"
                  />
                  <span class="input-group-addon">
                    <i class="zmdi zmdi-account-circle"></i>
                  </span>
                </div>
                <div class="input-group">
                  <input
                    type="password"
                    placeholder="Password"
                    class="form-control"
                  />
                  <span class="input-group-addon">
                    <i class="zmdi zmdi-lock"></i>
                  </span>
                </div>
              </div>
              <div class="footer text-center">
                <a href="index.html" class="btn btn-primary btn-round btn-block"
                  >SIGN IN</a
                >
                <h5>
                  <a href="forgot-password.html" class="link"
                    >Forgot Password?</a
                  >
                </h5>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/libscripts.bundle.js"></script>
    <script src="/js/vendorscripts.bundle.js"></script>
  </body>
</html>
